.container,
.container * {
  box-sizing: border-box;
}
.body{
  background-color: #fcfcfc;
  max-width: 1440px;
  min-width: 540px;
  padding: 0px;
  margin: auto;
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
  align-self: stretch;

  position: fixed;
      height: 400px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header {
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  padding: 4px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0) ;
}

.sub-header {
  border-bottom: 1px solid rgba(211, 211, 211, 1);
  padding: 4px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 68px;
  position: relative;
}

.initial-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.final-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav-bar-link {
  color: #4d4d4f;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  transition: color 0.3s ease;
}
.nav-bar-link:hover {
  color: #00c8ff;
}
.blue-btn {
  background: #2c526f;
  border-radius: 32px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.final-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}